#sticky_navigation_wrapper {
 width:100%; 
 height:50px;
 padding:0px 0px 0px 0px;
 margin:0px 0px 0px 0px;
   z-index: 70;
 }

#sticky_navigation { width:100%; height:50px;
padding:0 0 0 0;
 margin:0 0 0 0; 
   z-index: 70;
}

	
