

video {
  width: 100%    !important;
  height: auto   !important;
}

#middle{
    background-color:#fff;
    
    padding:10px;
    margin:10px;
    font-family: sans-serif;
    }
	
	
.highlight { background-color: #fff;
color:#ff4cba;
padding:1px
 }





  p {
color:#0375e5;
text-align:left;
font-family: sans-serif;
line-height: 150%;
font-size: 1em;
  }
  
  
  h1 { 
    display: block;
    line-height: 100%;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color:#0375e5;
}

h2 { 

    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color:#0375e5;
}

h3 { 

    display: block;
    color: #ff4cba;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}




	 /* unvisited link */
a:link {

    color: #ff4cba;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    
}

/* mouse over link */
a:hover {

    color: #000;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/* selected link */
a:active {

    color: #ff4cba;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/* visited link */
a:visited {

    color: #000;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body {
padding:0 0 0 0;
margin:0 0 0 0;

}

