
#middle{
    background-color:blue;
    color:cyan;
    text-align:center;
    padding:25px;
	left:50%;
	font-family: 'Numans', sans-serif;
	line-height: 140%;
	position:absolute;
     width:500px;
	 margin:0px 0 0 -250px;
	 word-break: break-word;
	 hyphens: auto;
}

